# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
.next
dist
out
.turbo

# Environment
.env
.env.local
.env.*.local
packages/db/.env

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# Prisma
prisma/migrations/*.sql.bak
